form{
  width:80%;

}

fieldset
{
    width:50%;
    margin-left: 45%;
    color:blue;
    background-color: aqua;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid blue;

}
legend
{
    text-align: center;
}

input
{
    width:80%;
    margin-bottom: 2%;
    margin-left: 8%;
}

input[type=submit]
{
    width:40%;
    margin-bottom: 2%;
    margin-left: 32%;
    color:white;
    background-color: blue;
}


